body {
  font-family: Source Sans Pro;
  text-align: center;
  line-height: 1.2em;
  color: #333;
  margin: 0;
}
a {
  color: #96ebe1;
  text-decoration: none;
}

img {
  margin-top: 30px;
  border-radius: 50%;
  max-width: 100px;
  height: auto;
}

h1 {
  font-weight: 900;
  font-size: 50px;
  font-family: Playfair Display;
  padding: 0 20px 20px 20px;
  line-height: 1.2em;
  margin-top: 1rem;
  border-bottom: 2px solid #333;
  display: inline-block;
  margin-bottom: 0px;
}

p {
  font-size: 23px;
  line-height: 1.3em;
}

.container {
  width: 500px;
  height: 100%;
  margin: 0 auto;
  overflow: auto;
  align-content: center;
}

.meta {
  font-family: Courier New;
  text-transform: uppercase;
  font-size: 10px;
}

/* .inline-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.inline-list li {
  display: inline-block;
}
.inline-list li {
  padding-left: 20px;
}
.inline-list li a {
  padding: 2px 8px;
  border: 1px solid #96ebe1;
  border-radius: 2px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
}
.inline-list li a:hover {
  background: #96ebe1;
  color: #fff;
} */

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 3rem;
}

.fa:hover {
  opacity: 0.7;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-github {
  background: #211f1f;
  color: white;
}
